result_csv/*
result_pdf/*
__pycache__/csv_to_graph.cpython-312.pyc
__pycache__/csv_to_graph.cpython-312.pyc
speed_test2.log
run_sript.py
run_sript.spec
dist/run_sript.exe
build/*
setup.spec
dist/*
*.log
speed_test2.spec
